5 Kyu/.vs/slnx.sqlite
5 Kyu/.vs/VSWorkspaceState.json
5 Kyu/.vs/5 Kyu/v15/.suo
6th Kyu/.vs/slnx.sqlite
6th Kyu/.vs/VSWorkspaceState.json
6th Kyu/.vs/6th Kyu/v15/.suo
6th Kyu/__pycache__/practice.cpython-36.pyc
5 Kyu/practice.py
